@import "../mixin/all";

.btn {
  padding: 10px 16px;
  cursor: pointer;
  @include btn-inp;
  @include btn-fab;

  &:hover {
    background-color: $light;
    box-shadow: $btn-focus;
  }

  &[class*="bg"] {
    border-color: transparent;
  }

  &.round {
    border-radius: 100vh;
    padding: 10px 20px
  }

  &.size-small {
    @include small;
  }

  &.size-large {
    @include large;
  }

  &.size-big-big {
    @include big-big;
  }
}
