@import "../mixin/all";

.input, .textarea {
  @include btn-inp;
  padding: 8px 16px;
  cursor: text;
  @each $c-name, $color in $color {
    &.bor-#{$c-name} {
      border-color: $color;
    }
  }
  &:focus {
    box-shadow: $inp-focus
  }
  &.size-small {
    @include small;
  }
  &.size-large {
    @include large;
  }
  &.size-big-big {
    @include big-big;
  }
  &::placeholder {
    color: $text-light
  }
}

.input {
  &.round {
    border-radius: 100vh;
    padding: 8px 20px
  }
}

.textarea {
  &.no-resize {
    resize: none;
  }
}
