@import "../mixin/all";

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // center
  justify-content: center;

  &.size-full-window {
    width: 100vw;
    height: 100vh;
  }

  &.top {
    justify-content: flex-start;
  }

  &.bottom {
    justify-content: flex-end;
  }
}
