.nav-header {
  width: calc(100% - 237px);
  justify-content: space-between;
}

.nav-content {
  display: flex;
}

.accounts {
  width: 28px;
  height: 28px;
  display: inline-flex;
  margin-left: 20px;
}

.header-logo {
  height: 60px
}

.home-btns {
  margin-top: 1rem
}

.btn {
  display: inline-flex;
}

.card.page {
  padding: 14px 32px;
}

.card.page:hover {
  background-color: #edf6fe
}

.footer-top-text {
  margin-bottom: 2rem;
}

.heading {
  margin-top: 1.15rem;
  margin-bottom: 1.15rem;
  display: block;
}

[class*="hljs"] {
  font-family: 'Source Code Pro', monospace;
}
